html {
  box-sizing: border-box;
  font-family: Georgia, sans-serif;
  line-height: 1.5;
  color: #000;
  background-color: #f2f1ed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

main {
  display: contents;
}

body {
display: grid;
grid-template-columns: repeat(2, 1fr);
margin: 0;
padding: 1rem;
gap: 1rem;
}

h2 {
  font-family: "Patua One", sans-serif;
  color: #30658d;
}

ul {
  display: flex;
  margin-left: 1rem;
}

.pano {
grid-area: banner;
}

.logo {
width: 14rem;
}

/* most is done in patent
