html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
  color: #000;
  background-color: #f2f1ed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

main {
  display: contents;
}

body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  padding: 1rem;
  gap: 1rem;
  grid-template-areas:
    "banner banner"
    "figure figure";
}

h2 {
  font-family: "Patua One", sans-serif;
  color: #30658d;
}

ul {
  display: flex;
  margin-left: 1rem;
  justify-content: space-around;
  align-items: center;
}

li {
  list-style-type: none;
}

a {
  font-family: "Patua One", sans-serif;
  font-size: 2rem;
  color: #fff;
}

.pano {
  grid-area: banner;
}

.logo {
  width: 14rem;
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  margin-bottom: 1rem;
  margin-left: 1rem;
  z-index: 1;
}

nav {
  grid-column: 2/-1;
  grid-row: 1;
}

figure {
  margin: -1rem;
  padding: 1rem;
}
