html {
  box-sizing: border-box;
  font-family: Georgia, sans-serif;
  line-height: 1.5;
  color: #000;
  background-color: #f2f1ed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

body {
margin: 0;
padding: 1rem;
}


/* most is done in patent
